---
import Overwatch from "../../public/overwatch.json";
import HeroesSection from "../components/heroes-section.astro";
import Layout from "../layouts/Layout.astro";

const tank = Overwatch.heroes.filter((x) => x.roleId === 1);
const dps = Overwatch.heroes.filter((x) => x.roleId === 3);
const heal = Overwatch.heroes.filter((x) => x.roleId === 2);
---
<Layout title="Astro - Ow">
    <div class="pb-5 pt-5">
        <HeroesSection heroes={[...tank, ...dps, ...heal]}/>
    </div>
</Layout>
