---
import Overwatch from "../../public/overwatch.json";
import HeroesSection from "../components/heroes-section.astro";
import Layout from "../layouts/Layout.astro";

const tank = Overwatch.heroes.filter((x) => x.roleId === 1);
const dps = Overwatch.heroes.filter((x) => x.roleId === 3);
const heal = Overwatch.heroes.filter((x) => x.roleId === 2);

const video = 'https://d3hmvhl7ru3t12.cloudfront.net/video/pages/home/header-82b9abce067992beedde6d103b6241d616a7ee97cc0d4f3126277098c2e4b09004325f25c6a245656096bd333c880b0032e2cbdbed9d2514220e20718482e95b.mp4';
---
<Layout title="Astro - Ow">
    <div class="pb-5 pt-5 grid grid-cols-3 absolute bottom-0 content-end">
        <HeroesSection heroes={tank}/>
        <HeroesSection heroes={dps}/>
        <HeroesSection heroes={heal}/>
    </div>
</Layout>



<!-- {JSON.stringify(Overwatch.heroes)} -->
