---
const { heroes } = Astro.props;
---

<div class="flex flex-wrap items-center justify-center">
  {
    heroes.map((x) => (
      <div class="h-fit m-1 cursor-pointer">
        <a href={'/hero/' + x.id}>
          <img
            class=""
            width="70px"
            height="70px"
            src={x.imageProfile}
            alt=""
          />
        </a>
      </div>
    ))
  }
</div>

<style>
  img {
    transition: all 500ms;
  }
  img:hover {
    transform: translate3d(2ch, -0.4in, 1em);
  }
</style>
